*.pyc
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
SIBR_viewers/build
SIBR_viewers/install
SIBR_viewers/extlibs
submodules/simple-knn/build
submodules/simple-knn/simple_knn.egg-info
data